@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start with a clean slate */
/* src/index.css */

body {
  /* Set the background color */
  background-color: black;
  
  /* Make the text visible against the black background */
  color: white;
  
  /* Remove default browser margin to prevent white edges */

  
  /* This is the key to ensure the background covers the full page height */
  min-height: 100vh;
  font-size: larger;
  
  /* Optional: Makes fonts look a bit nicer */
  font-family: sans-serif;
}