/* Global */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6fa;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* Card Container */
.container {
  background: #ffffff;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

/* Title */
.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

/* Input Hover/Focus */
input:focus {
  border-color: #6c5ce7;
  box-shadow: 0 0 5px rgba(108, 92, 231, 0.5);
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: #6c5ce7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

/* Button hover */
button:hover {
  background: #5a4bd8;
}

/* Profile styling */
.profile-box {
  background: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 18px;
}

.welcome-text {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}
.login {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}